target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Oracle Local DB ###
src/main/oracle-volume/

### utPLSQL installation ###
src/main/utPLSQL/
src/main/*.log

### sqlcl installation ###
src/main/sqlcl/

### Downloaded ZIP files ###
src/main/*.zip

### Local Agent Workbench ###
workbench/

### Class files from VS Code Agent ###
bin/